<footer class="mt-5 pt-5">
  <section class="row container m-auto">
   
      <div class="col-3">
        <img src="https://storage.googleapis.com/fe-production/icon_vxr_full.svg" alt="logo" width="148" height="33">
      </div>
      <div class="col-3">
        <h4>Tải App</h4>
        <div class="app-icon">
          <a class="w-75 btn btn-google" href="#" >Google Play</a>
          
        </div>
        <div class="app-icon">
          <a class="w-75 btn btn-appstore" href="#">App Store</a>
          
        </div>
        
      </div>
      <div class="col-3">
        <h4>Hợp tác với chúng tôi</h4>
        <ul >
          <li>Là khách hàng</li>
          <li>Là nhà xe</li>
          <li>Là nhân viên</li>
         
        </ul>
      </div>
      <div class="col-3">
        <h4>Hỗ trợ</h4>
        <ul >
          <li>Trung tâm hỗ trợ</li>
          <li>Liên hệ</li>
          <li>Chính sách bảo mật</li>
          <li>Thời hạn dịch vụ</li>
          
        </ul>
      </div>
    
      
      
        

    </div>
  </section>
  <hr />
  <div class="d-flex justify-content-around w-25 m-auto pb-3">
    <i class="fa-brands fa-square-twitter"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-facebook"></i>
  </div>
</footer>