.header-icon {
    margin-left: 10%;
    width: 10%;
}


.home-img {
    background-image: url("../img/imageHome.png");
    background-repeat: no-repeat;
    height: 70%;
}

.height-header {
    height: 70%;
}

.width-header {
    width: 98%;
}