<div class="qna container mt-3">
  <div class="chc my-3 p-2">Câu hỏi chung</div>
  <p><b>DogBT cam kết hoàn đến 150% giá trị thanh toán đối với trường hợp khách
      hàng không có vé để di chuyển là gì?</b></p>
  <ul>
    Các trường hợp không có vé
    <li>Khách hàng đã thanh toán vé nhưng hãng xe hết vé, hoặc khách đã thanh
      toán nhưng đến ngày đi không có vé – VeXeRe và nhà xe phải tìm được chuyến
      xe khác cho khách trong vòng 18h (sớm hơn hoặc muộn hơn) so với giờ khởi
      hành của chuyến ban đầu thì mới tính là có vé. Trường hợp tìm được chuyến
      khác nhưng nằm ngoài khung 18h thì cũng coi như không có vé.</li>
    <li>Khách hàng đã đặt vé và thanh toán nhưng xe không đón – VeXeRe và hãng
      xe không tìm được xe khác để đón khách.</li>
    <li>Hãng xe hủy chuyến (trừ các lý do bất khả kháng) – VeXeRe không tìm được
      xe khác phù hợp để khách di chuyển.</li>
  </ul>
  <ul>
    Những trường hợp chưa được xem là không có vé
    <li>Hãng xe chưa hỗ trợ xuất vé giấy hoặc hóa đơn VAT.</li>
    <li>VeXeRe hoặc hãng xe tìm được xe khác để khách di chuyển nhưng chưa đúng
      vị trí giường/ghế khách đã đặt trước đó.</li>
    <li>VeXeRe hoặc hãng xe tìm được xe khác hỗ trợ nhưng chưa đúng giờ/loại
      xe/thương hiệu xe.</li>
    <li>Một số sự cố phải thanh toán thêm tiền vé (khách đã thanh toán đủ tiền
      vé nhưng lên xe tài xế báo phải thanh toán thêm).</li>
    <li>Nhà xe hủy chuyến do các sự kiện bất khả kháng như: động đất, sóng thần,
      sạt lở, lũ lụt, giông bão, dịch bệnh, chiến tranh, đình công,…</li>
    <li>VeXeRe sẽ chưa hỗ trợ hoàn 150% giá trị thanh toán ở những trường hợp
      này. Tuy nhiên, VeXeRe sẽ có những chính sách khác hỗ trợ khách hàng khi
      xảy ra những sự cố không mong muốn.</li>
  </ul>
</div>